#after-login {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.after-login__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search input {
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  width: 150px;
  height: 20px;
  margin-left: 3px;
  color: white;
}

.search-engine {
  border: none;
  background: transparent;
  color: white;
}

.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.weather-icon {
  margin-right: 5px;
}

.weather div:first-child {
  display: flex;
  margin-bottom: 3px;
}

.location {
  font-size: 13px;
}

.clock {
  font-size: 130px;
  font-weight: 600;
}

.after-login__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wlcome-message {
  font-size: 40px;
  font-weight: 600;
  margin-top: 15px;
}

.after-login__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
}

.quote span:first-child {
  margin-bottom: 7px;
  font-size: 14px;
}

.todo-list-area {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.logout_btn,
.todo-btn,
.delBtn {
  border: none;
  background: transparent;
  color: white;
}

.todo-list-box {
  width: 170px;
  height: 250px;
  margin-bottom: 10px;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 7px;
  padding: 7px;
  box-sizing: border-box;
  position: absolute;
  top: -260px;
}

.todo-list-box__top {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}

.todo-list {
  height: 80%;
  overflow-y: scroll;
}

.todo-list::-webkit-scrollbar {
  display: none;
}

.todo-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 3px;
}

.checkbox {
  width: 12px;
  height: 12px;
  border-radius: 30%;
  background-color: white;
  border: 1px solid gray;
  margin-right: 5px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo {
  width: 80%;
}

.checked {
  text-decoration: line-through;
  font-style: italic;
}

.todo-input {
  font-size: 12px;
  width: 95%;
  border: none;
  background: transparent;
  color: white;
}

.todo-input::placeholder {
  color: rgb(180, 180, 180);
}
